@{
    <h2>Random Passcode Count: @ViewBag.Count</h2>
    <br>
    <h1>@ViewBag.Word</h1>
    <form action="passcode" method="post">
        <br>
        <p><input type="submit" value="Generate New Passcode"></p>
    </form>
}